{{ define "end" }}
<div id="main" class="flex h-full w-full items-center flex-col gap-5 justify-center mt-[20rem]">
    <h1 class="text-xl">The end</h1>
    <p>{{ .Message }}</p>
    <a href=".">play again<a>
</div>
{{ end }}
