{{ define "gameHome" }}
<div hx-swap-oob="outerHTML:#main" class="flex flex-col gap-2 p-2 items-center w-full h-full">
   <div id="logo-header" class="flex gap-5 w-fit justify-center items-center">
      <img class="h-12 w-auto" src="/assets/images/logo.svg" alt="logo" />
      <h1 class="text-xl font-bold">RPS Elite</h1>
   </div>
   <div id="players-holder" class="flex justify-between items-center w-full">
      <div id="opponent_info" class="flex flex-col gap-2">
      {{ template "opponent-info" .}}
         
      </div>
      <div class="flex flex-col gap-2">
         <!-- Player 1 Info -->
         <div id="player1-info" class="flex gap-5 items-center">
            <img src="https://flagsapi.com/{{.Player.Flag}}/flat/64.png" alt="player flag" />
            <p class="font-semibold">{{.Player.Name}}</p>
         </div>
         <!-- Player 1 Score -->
         <div id="player1-score" class="flex items-center gap-5">
            <p>{{.Player.Flag}}</p>
            * {{.Player.Score}}
         </div>
      </div>
   </div>
   {{ template "messenger" .}}
   <div id="players-panel-holder" class="min-h-[20rem] flex w-full items-center gap-2 ">
      
         {{ template "opponent-panel" .}}
      
      <div class="w-1 bg-primary rounded-full h-56 opacity-30">
      </div>
      <div id="player-panel" class="flex flex-col w-1/2 h-full">
         <div id="player-selected-move" class="bg-white rounded-xl w-36 h-36 border-primary border-2 p-2">
         </div>
         <div id="game-option" class="flex w-full px-5 justify-between">
            <button hx-ws="send:submit" hx-vals='{"move": "rock", "type":"move"}' class=" flex items-center justify-center h-24 w-auto">
            <img class="w-full h-full" src="/assets/images/rock.svg" alt="Rock" />
            </button>
            <button hx-ws="send:submit" hx-vals='{"move": "paper", "type":"move"}' class="flex items-center justify-center h-24 w-auto">
            <img class="w-full h-full" src="/assets/images/paper.svg" alt="Paper" />
            </button>
            <button hx-ws="send:submit" hx-vals='{"move": "scissor", "type":"move"}' class="flex items-center justify-center h-24 w-auto">
            <img class="w-full h-full" src="/assets/images/scissor.svg" alt="Scissor" />
            </button>
         </div>
      </div>
   </div>
   <div id="history" class="flex flex-col gap-2">
      <p>move 1 to 2</p>
   </div>
</div>
{{ end }}