{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCP Game</title>
    <link rel="icon" href="/assets/images/logo_transparent.svg">

    <link rel="stylesheet" href="/styles/output.css">

</head>

<script src="/scripts/htmx.min.js"></script>

<body class="flex flex-col gap-5 items-center w-full h-full bg-primary-light" hx-ws="connect:/ws">

{{ if eq .Main "home" }}
    {{ template "home" . }}
{{ else if eq .Main "logged" }}
    {{ template "logged" . }}
{{ end }}

</body>

</html>
{{ end }}