{{ define "messenger" }}
    <div id="console" class="flex flex-col justify-center items-center w-full h-16">
    {{ if .Message }}
      <p>{{.Message}}</p>
      {{ end }}

{{ if ne .Timer "" }}
      <div class="rounded-full bg-slate-400 w-[28rem] h-[1rem] flex justify-center">
         <div class="rounded-full bg-orange-400 {{.Timer}} w-full h-full">
         </div>
      </div>
      {{ end }}
   </div>
{{ end }}
