{{ define "messenger" }}
    <div id="console" class="flex items-center h-16 w-full justify-center flex-col">
    {{ if .Message }}
      <p>{{.Message}}</p>
      {{ end }}

      <div class="rounded-full bg-slate-400 w-[28rem] h-[1rem] flex justify-center">
         <div class="rounded-full bg-orange-400 {{.Timer}} w-full h-full">
         </div>
      </div>
   </div>
{{ end }}
