{{ define "move" }}
    <div hx-swap-oob="innerHTML:#{{.TargetId}}">
        {{ if ne .Move "" }}
            <img class="w-full h-full" src="/assets/images/{{.Move}}.svg" alt="{{.Move}}" />
        {{ end }}
    </div>
{{ end }}
