{{define "opponent-info" }}
    {{ if not .Opponent }}
    <div id="opponent-info" class="flex gap-5 items-center">
        <div class="h-[64px] w-[64px] bg-slate-400"></div>
        <p class="font-semibold bg-slate-400 w-[20px]"></p>
    </div>
        <div id="opponent-score" class="flex items-center gap-5">
        </div>
    {{ else }}
        <div id="opponent-info" class="flex gap-5 items-center">
            <img src="https://flagsapi.com/{{.Opponent.Flag}}/flat/64.png" alt="player flag" />
            <p class="font-semibold">{{.Opponent.Name}}</p>
        </div>
        {{ template "score" .Score}}
    {{ end }}
{{ end }}