{{ define "score" }}

<div id="{{.TargetId}}-score" class="flex gap-5 items-center">
    {{ $targetId := .TargetId }}
    {{ range $val := .ScoreLoop }}
        {{ if eq  $targetId "opponent" }}
            <div class="w-5 h-5 bg-red-500 rounded-full"></div>
        {{ else }}
            <div class="w-5 h-5 bg-blue-500 rounded-full"></div>
        {{ end }}
    {{ end }}
</div>
{{ end }}