{{ define "wait" }}
<div id="main" class="flex h-full w-full items-center flex-col gap-5 justify-center mt-[20rem]">
    <h1 class="text-xl">In pool please wait</h1>
    <a href=".">exit<a>
</div>
{{ end }}
