@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #FEC856;
    --secondary-color: #FE9256;
    --light-bg-color: #FEF2DA;
}

.bg-primary-light{
    background-color: var(--light-bg-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.hover-bg-secondary:hover{
    background-color: var(--secondary-color);
}


.border-primary{
    border-color: var(--primary-color);
}

.empty-3s{
  animation: 3s ease-out 0s empty;
  animation-fill-mode: forwards;
}

.empty-5s{
  animation: 5s ease-out 0s empty;
  animation-fill-mode: forwards;
}

@keyframes empty {
  from { width: 100%; }
  to   { width: 0%; }
}